<h1>{{currentRepo.id}}</h1>
<hr>
<h3>Frequency</h3>
<div class="row">
  <div class="col-xs-12">
    <input
      type="number"
      min="1"
      id="frequency"
      class="form-control"
      name="frequency"
      [value]="currentRepo.frequency"
      (change)="onFrequencyChanged($event)"
      required
      #frequency>
  </div>
</div>
<h3>Add backup</h3>
  <div class="row">
    <div class="col-xs-12">

      <form [formGroup]="backupForm" (ngSubmit)="addBackup()">
        <div class="row">
          <div class="col-sm-4 form-group">
            <label for="backup-url">URL</label>
            <input type="url"
                   id="backup-url"
                   class="form-control"
                   required
                   formControlName="url"
                   #url>
          </div>
          <div class="col-sm-4 form-group">
            <label for="backup-login">Login</label>
            <input type="text"
                   id="backup-login"
                   class="form-control"
                   required
                   formControlName="login"
                   #login>
          </div>

          <div class="col-sm-4 form-group">
            <label for="backup-password">Password</label>
            <input
              id="backup-password"
              class="form-control"
              type="password"
              required
              formControlName="password"
              #password>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button type="button"
                    class="btn btn-primary"
                    (click)="addBackup()"
                    [disabled] = "!backupForm.valid"
            >Add</button>
          </div>
        </div>
      </form>

    </div>
  </div>

<h3>Backups</h3>

<ul class="list-group">
  <div  class="list-group-item clearfix"
        *ngFor="let backup of allBackups"
  >
    <div class="pull-left">
      <h4 class="list-group-item-heading">{{backup.url}}</h4>
    </div>
    <button class="btn btn-danger pull-right"
            style="cursor: pointer"
            type="button"
            (click)="deleteBackup(backup)"
    >Delete</button>
  </div>

</ul>

<hr>

<button
  class="btn btn-success submit btn-lg center-block"
  type="submit"
  (click)="onSubmit()"
  [disabled]="newBackups.length === 0 && !isFrequencyChanged"
>Submit
</button>
