<div class="container-fluid">
  <div class="row">
    <div class="col-xs-10 ">
      <h1>Add Repo</h1>
      <form [formGroup]="repoForm" (ngSubmit)="submit()">
        <div class="row">
        <div id="user-data"  class="col-xs-8 ">
          <div class="form-group">
            <label for="id">ID</label>
            <input
              type="text"
              id="id"
              class="form-control"
              name="id"
              required
              formControlName="id">
          </div>
          <div class="form-group">
            <label for="url">Repo URL</label>
            <input
              type="url"
              id="url"
              class="form-control"
              name="url"
              required
              formControlName="url">
          </div>

          <div class="form-group">
            <label for="login">Login</label>
            <input
              type="text"
              id="login"
              class="form-control"
              name="login"
              required
              formControlName="login">
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              class="form-control"
              name="password"
              required
              formControlName="password">
          </div>
          <div class="form-group has-error" >
            <button type="button" class="btn btn-primary" (click)="pickPath()"> Pick Path</button>


            <input
              [(ngModel)]="selectedDir"
              type="hidden"
              class="form-control"
              name="path"
              required
              formControlName="path">
            <span *ngIf="validPath" class="help-block" style="color: blue;">{{selectedDir}}</span>
            <span *ngIf="!validPath" class="help-block ">Directory has to be empty!</span>
            <mat-spinner diameter="70" style="margin-top: 10px;" color="warn" *ngIf="running"> </mat-spinner>
          </div>


          <div class="form-group">
            <label for="frequency">Frequency</label>
            <input
              type="number"
              min="1"
              id="frequency"
              class="form-control"
              name="frequency"
              required
              formControlName="frequency">
          </div>



        </div>
        </div>



        <h1>Add backup</h1>
        <div class="row">
          <div class="col-xs-12">

            <div class="row">
              <div class="col-sm-4 form-group">
                <label for="backup-url">URL</label>
                <input type="url"
                       id="backup-url"
                       class="form-control"
                       #url>
              </div>
              <div class="col-sm-4 form-group">
                <label for="backup-login">Login</label>
                <input type="text"
                       id="backup-login"
                       class="form-control"
                       #login>
              </div>

              <div class="col-sm-4 form-group">
                <label for="backup-password">Password</label>
                <input
                  id="backup-password"
                  class="form-control"
                  type="password"
                  #password>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <button type="button" class="btn btn-primary" (click)="addBackup()">Add</button>

              </div>
            </div>

          </div>
        </div>

        <h1>Backups</h1>

        <ul class="list-group">
          <li class="list-group-item" style="cursor: pointer"
              *ngFor="let backup of backups"
          >{{backup.url}} </li>

        </ul>
        <hr>

        <button
          class="btn btn-success submit btn-lg center-block"
          type="submit"
          [disabled] = "!repoForm.valid"
          >Submit
        </button>


      </form>


    </div>


  </div>
</div>
